.app {
  padding: 10px;
}

.panel {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 60px;
  border-radius: 10px;
  position: fixed;
  top: 40px;
  left: 0px;
  z-index: 2;
}
.panel-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid transparent;
}
.panel-header-on-panel-down {
  backdrop-filter: brightness(0.4);
  border-bottom-color: var(--primary-accent);
}
.panel-control {
  padding: 5px;
  height: 30px;
  border-radius: 25px;
  cursor: pointer;
}
.panel-control:hover {
  background: var(--primary-hover);
}
.panel-control:active {
  transform: scale(0.9);
  transition: 0.1s ease-out;
}

.panel-down {
  height: 300px;
  background: rgba(40, 40, 40, 0.4);
}
.panel-content {
  padding: 10px;
  transform: translateY(-100%);
}
.panel-down .panel-content {
  transform: translateY(0%);
}

.rotate {
  transform: rotate(45deg);
}

.panel-info {
  display: flex;
  align-items: center;
}
.panel-name {
  margin-left: 10px;
  font-size: 26px;
  text-transform: uppercase;
}
.panel-icon {
  height: 20px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}