.app {
  overflow-y: scroll;
}
.app.disable-scroll {
  overflow-y: hidden;
}
#add-body {
  width: 100%;
  height: calc(100% - 65px);
}
textarea {
  resize: none;
}

.save-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  animation: save-button-draw-in 0.25s ease-out;
}
@keyframes save-button-draw-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(30%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
  }
}
