:root {
  --primary-background: rgb(20, 20, 20);
  --secondary-background: rgb(40, 40, 40);
  --primary-color: rgb(240, 240, 240);
  --header-color: var(--primary-color);
  --subheader-color: rgb(220, 220, 220);
  --error-color: rgb(250, 50, 50);
  --primary-hover: rgb(60, 60, 60);
  --primary-border: rgb(40, 40, 40);
  /* accent */
  --primary-accent: rgb(71, 187, 255);

  /* input */
  --primary-input: rgb(50, 50, 50);
  --input-border: rgb(60, 60, 60);

  /* form */
  --form-invalid: var(--error-color);


  /* note */
  --note-background: rgb(30, 30, 30);
  --note-shadow: rgb(60, 60, 60);

  /* scrollbar */
  --scrollbar-track: rgb(60, 60, 60);
  --scrollbar-thumb: var(--primary-accent);
  --scrollbar-thumb-hover: var(--primary-accent);


  /* markdown */
  --h3-border: rgb(100, 100, 100);

  /* tooltip */
  --tooltip-background: var(--secondary-background);
  --tooltip-shaodw: var(--primary-shadow);
}